<dialog id="confirmDialog" class="confirm-dialog">
  <form method="dialog" class="dialog-form">
    <p id="confirmMessage">¿Estás seguro?</p>
    <div class="dialog-buttons">
      <button type="button" id="cancelBtn" class="btn btn-secondary">Cancelar</button>
      <button type="button" id="confirmBtn" class="btn btn-danger">Confirmar</button>
    </div>
  </form>
</dialog>