<footer>
  <div class="footer-container">
    <div class="footer-column summary">
      <div class="summary">
        <h3>Axotlacuali</h3>
        <p>Tu guía virtual para explorar la FES Cuautitlán Campo 4 y sus alrededores.</p>
      </div>
      <div class="socials">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>
    <div class="footer-column">
      <h3>Enlaces Rápidos</h3>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/mapa">Mapa Virtual</a></li>
        <li><a href="/comida">Lugares de Comida</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Otros Servicios</h3>
      <ul>
        <li><a href="/">Servicios Esolares</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Contacto</h3>
      <ul>
        <li>
          <p><i class="fa-solid fa-envelope"></i>: <a href="mailto:info@axotlacuali.com">info@axotlacuali.com</a></p>
        </li>
        <li>
          <p><i class="fa-solid fa-phone"></i>: <a href="tel:+521234567890">+52 12 3456 7890</a></p>
        </li>
        <li>
          <p><i class="fa-solid fa-map-pin"></i>: Cuautitlán - Teoloyucan Km. 2.5, San Sebastian Xhala, 54714 Cuautitlán Izcalli, Méx.</p>
        </li>
      </ul>
    </div>
    <div class="footer-rights">
      <p>&copy; 2024 Axotlacuali. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>