<header>
  <nav>
    <div class="logo">
      <a href="/"><img src="./images/Axotlacuali_logo.svg" alt="Axotlacuali Logo"></a>
    </div>
    <div>
      <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/mapa">Mapa Virtual</a></li>
        <li><a href="/comida">Lugares de Comida</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </div>
  </nav>
</header>