.page-title {
  margin: 40px 0;
  color: var(--grey-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.page-title h2 {
  margin-bottom: 20px;
  position: relative;
}
.page-title h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 250px;
  height: 10px;
  background: linear-gradient(135deg, var(--yellow-dark), var(--grey));
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}

.card {
  background-color: var(--white-dark);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
  padding: 12px;
  border-radius: 20px;
  overflow: hidden;
  font-size: 1.3rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.card-content h3 {
  font-size: 1.5em;
  color: var(--grey-dark);
  align-self: center;
  position: relative;
}
.card-content h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30%;
  min-width: 50px;
  height: 5px;
  background: linear-gradient(135deg, var(--yellow-dark), var(--grey));
}

.details-container {
  display: flex;
  justify-content: space-between;
}

.card-btns {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: var(--yellow-dark);
  color: var(--grey);
}

.card-image {
  display: flex;
  align-items: center;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-image video {
  width: 100%;
  border-radius: 10px;
}

.menu-modal {
  position: fixed;
  inset: 0;
  margin: auto;
  max-width: 500px;
  width: 90%;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem;
}
.menu-modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.close-btn {
  align-self: flex-end;
  font-size: 1.5rem;
}

.menu-content h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: var(--grey-dark);
  position: relative;
}
.menu-content h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50%;
  min-width: 80px;
  height: 5px;
  background: linear-gradient(135deg, var(--yellow-dark), var(--grey));
}

.menu-content ul {
  list-style: disc;
  padding-left: 20px;
  color: var(--grey-dark);
}
.menu-content li {
  margin-bottom: 8px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
  }
  .menu-modal {
    max-width: 70%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%;
    padding: 10px;
    font-size: 1.1rem;
  }
  .details-container {
    flex-direction: column;
    gap: 15px;
  }
}
