.page-title {
  margin: 40px 0;
  color: var(--grey-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.page-title h2 {
  margin-bottom: 20px;
  position: relative;
}
.page-title h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 250px;
  height: 10px;
  background: linear-gradient(135deg, var(--yellow-dark), var(--grey));
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
}
.form-item label {
  font-size: 1.2rem;
  color: var(--grey-dark);
}
.form-item input {
  padding: 10px;
  border: 2px solid var(--grey);
  border-radius: 8px;
  font-size: 1rem;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: var(--yellow-dark);
  color: var(--grey);
}
