main {
  padding: 40px;
}

.map-container {
  width: 100%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: none;
}

.map-container img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 769px) {
  .map-container {
    height: 90vh;
  }
  .map-container iframe {
    display: block;
  }
  .map-container img {
    display: none;
  }
}
