<div class="hero">
  <div class="hero-content">
    <h1>Bienvenido a Axotlacuali</h1>
    <p>Explora las instalaciones de la FES Cuautitlán Campo 4 con nuestro recorrido virtual y descubre los mejores lugares para comer cerca del campus.</p>
  </div>
</div>

<div class="feature">
  <div class="feature-card">
    <h2>Mapa Virtual</h2>
    <div class="feature-content">
      <div class="feature-side">
        <h2>Explora Nuestro Campus</h2>
        <p>Sumérgete en un recorrido virtual completo por todas las instalaciones de nuestra universidad. Desde los edificios mas emblematicos hasta nuestros laboratorios y espacios deportivos.</p>
        <a href="/mapa" class="btn">Explorar Mapa</a>
      </div>
      <div class="feature-side img">
        <img src="./images/mapa-fesc-corto.png" alt="Imagen de Característica">
      </div>
    </div>
  </div>
  <div class="feature-card">
    <h2>Comida Cerca del Campus</h2>
    <div class="feature-content">
      <div class="feature-side img">
        <img src="./images/imgPlaceholder.jpg" alt="Imagen de Característica">
      </div>
      <div class="feature-side">
        <h2>Descubre los Mejores Lugares para Comer</h2>
        <p>Encuentra una variedad de opciones gastronómicas cerca de nuestro campus. Desde comida rápida hasta restaurantes locales, tenemos recomendaciones para todos los gustos y presupuestos.</p>
        <a href="/comida" class="btn">Ver Lugares</a>
      </div>
    </div>
  </div>
</div>