<section class="map-container">
  <!-- Sketchfab Embed -->
  <iframe title="FESCUAUTITLAN" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/e0481074e7994967af3200db4c54ab5e/embed"> </iframe>
  <!-- Imagen para disposivos moviles -->
  <img src="/images/mapa-fesc.png" alt="Mapa FESC">
</section>